.submit-button {
  padding: 5px;
  border-radius: 5px;
  width: 100px;
  height: 30px;
  color: green;
  display: flex;
  align-items: center;
  justify-content: center;
  float: right;
  margin-top: 20px;
  cursor: pointer;
  color: green;
  border: 1px solid green;
}

.submit-button:active {
  box-shadow: 1px 2px 8px 3px #c4c4c4;
  background-color: green;
  color: white;
}
.submit-button:hover {
  background-color: green;
  color: white;
}
.form-parent {
  width: 100%;
}

.form-container .main-container {
  margin-top: 10px;
}
.main-container-parent {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 90%;
  padding: 20px;
}

.form-container {
  width: 20vw;
  margin-right: 50px;
}

.image-container {
  height: 50%;
  /* width: 50%; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-image {
  object-fit: contain;
  height: 100%;
  width: 100%;
}

.user-option {
  color: blue;
  margin-top: 20px;
  cursor: pointer;
}
